<h1><%= @item.title %></h1>

<img border="0" src="/images/<%= @item.image_url %>" class="sample" width = "480" height = "320">
<h2>口コミ</h2>
<p><%= @item.content %></p>

<%= link_to 'レビューする', new_item_review_path(@item, @review) %>
<br /><br />
<%= link_to 'レビュー一覧', item_reviews_path(@item, @review) %>