<h1>id = <%= @item.id %> の詳細ページ</h1>

<img border="0" src="/images/<%= @item.image_url %>" class="sample">
<p><%= @item.title %></p>
<p><%= @item.content %></p>

<%= link_to 'レビュー', new_item_review_path(@item, @review) %>